<!DOCTYPE html>
<html>

<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="paper">
	<div id="app" class="box-content h-50 w-50 p-4 border-4 border-gray-400 bg-gray-200">
		<div class="h-full w-full bg-gray-400">
		<div class="flex items-start bg-blue-200 h-20">
			<input class="flex-1 text-green-700 text-center bg-red-200 px-4 py-2 m-2" type="number" v-model="n">
			<input class="flex-1 text-green-700 text-center bg-purple-200 px-4 py-2 m-2" type="number" v-model="row">

		</div>
		
		<div class="bg-yellow-200 p-6">
		<div class="space"></div>
		
		<div class="flex flex-col bg-green-200">
		<div class="text-black-1700 text-center bg-green-100 px-4 py-2 m-2">สูตรคูณแม่ {{n}}</div>
		<div class="text-black-1700 text-center bg-green-100 px-4 py-2 m-2">สูตรคูณแม่ก่อนหน้า : {{before_n}}</div>
		<div class="text-black-700 text-center bg-green-100 px-4 py-2 m-2" v-for="i in r"> {{n}} x {{i}} = {{x(i)}}</div>
		<div class="text-black-1700 text-center bg-green-100 px-4 py-2 m-2">ผมรวม : {{sum}}</div></div>
		</div>
		</div>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
				before_n: 1,
				row: 12,
			},
			methods: {
				x: function (row) {
					return this.n * row
				}

			},
			computed: {
				r: function () {
					return parseInt(this.row)
				},

				sum: function () {
					let sum = 0
					for (var i = 1; i <= this.row; i++) {
						sum = sum + (this.x(i))
					}
					return sum
				}

			},
			watch: {
				n: function (a, b) {
					this.before_n = b
				}
			}
		})
	</script>
</body>

</html>